@use "../../styles/colors";

.product-section {
  & {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(200px, 1fr)
    ); /* Adjust the column width as per your requirement */
    gap: 16px;
    padding: 16px;
    background-color: #fff;
    font-weight: 200;
  }
  .content-loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: colors.$primary-red;
    font-weight: bold;
  }

  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    padding: 16px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 2px;
    transition: box-shadow 0.3s ease;
    max-width: 250px;
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .product-image {
      width: 100%;
      text-align: center;
      height: 200px;
      img {
        max-width: 100%;
        height: 100%;
      }
    }

    .product-details {
      margin-top: 12px;
      .product-catagory {
        display: block;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: colors.$primary-gray;
        margin-bottom: 18px;
      }
      h4 a {
        font-weight: 500;
        display: block;
        height: 70px;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: colors.$primary-black;
        transition: 0.3s;
        overflow: hidden;
      }
      h4 a:hover {
        color: colors.$primary-red;
      }

      .product-bottom-details {
        overflow: hidden;
        border-top: 1px solid colors.$primary-gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .product-price {
          font-size: 18px;
          font-weight: 600;
          color: colors.$primary-red;
        }
        .add-to-cart {
          transition: 0.3s;
          font-size: 20px;
          color: colors.$primary-gray;
          font-weight: bold;
        }
        .add-to-cart:hover {
          color: colors.$primary-red;
        }
      }
    }
  }
}
